.dropdown-toggle::after {
  /* display: none !important; */
}

/* Footer Menu Style Start */
.FooterMenu .card {
  background: #0C1D42;
}

.FooterMenu .nav-link.active {
  background-image: linear-gradient(to top, #45D0DA, #0C1D42);
  color: white !important;
  border: 1px solid #45D0DA !important;
  box-shadow: 0 0 10px 0px #45D0DA;
  transition: ease-in 0.2s;
}

.FooterMenu .nav-link {
  color: #7A90C0;
  border: 1px solid transparent !important;
}
  
  .FooterMenu .nav-link span {
    font-size: 10px !important;
    text-transform: uppercase;
    font-weight: bold;
}

/* Footer Menu Style End */

/* App Style */
.App,
.modal-dialog.modal-fullscreen .modal-content {
  background-image: linear-gradient(to top, #1D3F75, #0C1D42) !important;
  min-height: 100vh;
  color: white;
}
/* App Style */

/* Appbar Style */
.dropdown-menu.show {
  background: #1D3F75;
  border: none;
}
/* Appbar Style */

.progress {
  background-color: #22345A !important;
}

.progress-bar {
  background-image: linear-gradient(to right, #6A96FD, #FD8EDD) !important;
  border-radius: 50px;
}

.MainPage .level-section {
  font-size: 12px;
  color: #828993;
}

.MainPage .card.info-card {
  background-color: #0B1630;
  font-size: 12px;
}

.energy-section {
  background-color: #22345A !important;
}

.Preloader .modal-content{
  background: #0C1D42;
}


/* CountryModal style start */
.ReactFlagsSelect-module_selectBtn__19wW7 {
  /* border-color: #7A90C0 !important; */
  border-color: white !important;
}

.ReactFlagsSelect-module_selectValue__152eS {
  /* color: #7A90C0 !important; */
  color: white !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7:after {
  /* border-top-color: #7A90C0 !important; */
  border-top-color: white !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
  background: #0C1D42 !important;
}

.ReactFlagsSelect-module_label__27pw9 {
  /* color: #7A90C0 !important; */
  color: white !important;
}

.country-ranking-table th {
  background-color: #0C1D42 !important;
  color: white !important;
  border: none;
  border-bottom: 1px solid #7A90C0;
  text-align: center;
}
.country-ranking-table td {
  color: #7A90C0 !important;
  border: none;
  border-bottom: 1px solid #7A90C0;
}

.main-button {
  background-image: linear-gradient(to top, #45D0DA, #0C1D42);
    color: white !important;
    border: 1px solid #45D0DA !important;
    box-shadow: 0 0 10px 0px #45D0DA;
    transition: ease-in 0.2s;
}
/* CountryModal style end */

/* RewardCard style start */
.reward-card {
  background-color: #1D3F75 !important;
  border-color: #7A90C0 !important;
  color: white !important;

}
/* RewardCard style end */

.go3974562317 {
  width: 100% !important;
  min-width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-image: linear-gradient(to top, #45D0DA, #0C1D42);
  color: white !important;
  border: 1px solid #45D0DA !important;
  box-shadow: 0 0 10px 0px #45D0DA !important;
  border-radius: 5px !important;
}

tc-root .go816652413 {
  width: 100% !important;
}


/* Image upload start */
.upload-btn {
  position: absolute;
    bottom: 0;
    left: 60%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.loading-spinner {
    position: absolute;
    bottom: 40%;
    right: 45%;
}
/* Image upload end*/